#home {
  width: 100%;
  height: auto;
}

#page {
  width: 100vw;
  height: auto;
}

.hero {
  height: 100vh;
  width: 98vw;
  padding: 3vw;
  display: flex;
  justify-content: space-between;
}

.hero > .right {
  width: 20px;
  position: absolute;
  right: 1%;
  bottom: 20%;
  animation: ease-in-bottom 0.5s linear !important;
}

.hero > .right > p {
  font-size: 16px;
  font-weight: 200;
  white-space: nowrap;
  letter-spacing: 10px;
  transform: rotate(-90deg);
}

.hero > .left {
  height: 100%;
  width: 80%;
  overflow: hidden;
  padding-left: 2vw;
}

.hero > .left > p {
  font-size: 2vw;
  animation: ease-in-bottom 1s forwards;
  padding-bottom: 4vw;
}

.hero > .left > h4 {
  font-weight: 500;
  color: #1b1b1b;
  font-size: 7vw;
  animation: ease-in-bottom 0.5s linear !important;
}

.hero > .left > a > button {
  width: 16vw;
  height: 4vw;
  background: transparent;
  border-radius: 50px;
  font-size: 1vw;
  cursor: pointer;
  color: #747373;
  border: 1px solid rgba(128, 128, 128, 0.7);
  animation: ease-in-bottom 0.5s linear !important;
}
.animated-image {
  position: relative;
  width: 700px;
  height: auto;
  left: 55%;
  opacity: 1;
  background-color: #ffffff;
  backdrop-filter: blur(25px);
  animation: ease-in-bottom 1s linear;
}

@keyframes ease-in-bottom {
  from {
    transform: translate(0%, 50%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-bottom {
  display: none;
}

@media (max-width: 900px) {
  .animated-image {
    padding-top: 80px;
    width: 410px;
    left: 0;
    background-image: url('https://i.pinimg.com/originals/98/7b/ba/987bba5e582181c0b5e9cfe19db71445.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-bottom {
    display: flex;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1%;
    background-color: #ffffff;
    border-radius: 25px 25px 0 0;
  }

  .hero {
    height: 70vh;
  }

  .hero > .right > p {
    color: #ffffff;
  }

  .hero > .left > h4 {
    margin-top: 70%;
    font-size: 45px;
    color: #fff;
    mix-blend-mode: hard-light;
  }

  .hero > .left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 10%;
  }

  .hero > .left > a > button {
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
  }

  .hero > .left > p {
    font-size: 8vw;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(182, 182, 182, 0.547);
  }
}
#home > #page2 {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  padding: 0% 15%;
  /* border-top: 1px solid rgba(173, 173, 173, 0.268); */
}

#home > #page2 > h4 {
  width: 100%;
  height: 70%;
  padding: 0 1vw;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 1.8vw;
  line-height: 1.5;
}
#page2 > p {
  width: 40%;
  height: 70%;
  padding: 0 1vw;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 1.6;
  color: #3d3d3de4;
}

@media (max-width: 900px) {
  #home > #page2 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0% 5%;
    padding-top: 10%;
    line-height: 30px;
  }

  #home > #page2 > h4 {
    width: 95%;
    text-align: justify;
    font-size: 18px;
    line-height: 32px;
  }

  #page2 > p {
    width: 90%;
    text-align: justify;
    font-size: 14px;
    padding: 7% 0;
  }
}
#loading {
  height: 100vh;
  z-index: 5000;
  background-color: #0f0f0f;
  position: relative;
}

#loading > h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a1a1a1;
  font-size: 3vw;
  font-weight: 400;
}

@media (max-width: 900px) {
  #loading > h4 {
    font-size: 6vw;
  }
}

.menu2 {
  position: fixed;
  top: 4%;
  right: 2%;
  width: 90px;
  height: 90px;
  z-index: 2000;
  border-radius: 50%;
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.389);
  gap: 5.6px;
  cursor: pointer;
  scale: 1;
  animation: menu2-appear 0.2s linear;
}

@keyframes menu2-appear {
  from {
    scale: 0.1;
  }
  to {
    scale: 1.1;
  }
}

@media (max-width: 900px) {
  .menu2 {
    width: 55px;
    height: 55px;
  }

  .menu2 > .line {
    width: 20px !important;
  }
}

.menu2 > .line {
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background-color: #8a8a8a;
}

.menu2 > .line1 {
  animation: rotate-line1 0.5s forwards;
}

.menu2 > .line2 {
  animation: rotate-line2 0.5s forwards;
}

@keyframes rotate-line1 {
  from {
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotate-line2 {
  from {
  }
  to {
    transform: rotate(-45deg);
  }
}

.menu2:hover {
  scale: 1.1;
}

.menu2:active {
  scale: 1;
}

@media (max-width: 900px) {
  .menu2:hover {
    scale: 1;
  }

  .menu2:active {
    scale: 1.1;
  }
}

#page3 {
  width: 100%;
  height: 100vh;
  background-color: #1c1d20;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#page3 > .top {
  position: relative;
  top: 10%;
  height: 42vh;
  width: 70%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
}

#page3 > .top > h2 {
  font-size: 100px;
  font-weight: 400;
  color: #f5f5f5;
}

#page3 > .top > h2 > .passport-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
#page3 > .top > h2 > .passport-img:hover {
  animation: rotate-img 5s forwards;
}
@keyframes rotate-img {
  0% {
  }
  25% {
    transform: rotate(60deg);
  }
  100% {
    transform: translate(0deg);
  }
}

#page3 > .mid {
  position: relative;
  height: 50vh;
  left: 0;
  width: 70%;
}

#page3 > .mid > button {
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  padding: 32px 50px;
  margin-left: 10px;
  border-radius: 50px;
  border: 1px solid rgba(128, 128, 128, 0.429);
  cursor: pointer;
}

#page3 > .end {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 1%;
  overflow: hidden;
}

#page3 > .end > .left {
  position: absolute;
  left: 5%;
  display: flex;
  gap: 30px;
}

#page3 > .end > .left > .ver {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#page3 > .end > .left > .ver > p {
  font-size: 14px;
  font-weight: 600;
  color: #747373;
}

#page3 > .end > .left > .ver > span {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

#page3 > .end > .right {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#page3 > .end > .right > p {
  font-size: 14px;
  font-weight: 600;
  color: #747373;
}

#page3 > .end > .right > ul {
  display: flex;
  gap: 20px;
}
#page3 > .end > .right > ul > a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 900px) {
  #page3 > .top {
    top: 15%;
    height: 15%;
    width: 90%;
  }
  #page3 > .top > h2 {
    font-size: 10vw;
  }

  #page3 > .top > h2 > .passport-img {
    width: 1em;
    height: 1em;
    margin-right: 10px;
  }

  #page3 > .mid {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #page3 > .mid > button {
    font-size: 16px;
    padding: 15px 30px;
    margin: 5px 0;
  }

  #page3 > .end {
    height: 25vh;
    display: flex;
    flex-direction: column;
  }

  #page3 > .end > .left {
    bottom: 5%;
    width: 90%;
  }

  #page3 > .end > .left > .ver {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #page3 > .end > .left > .ver > p {
    font-size: 10px;
  }

  #page3 > .end > .left > .ver > span {
    font-size: 12px;
    font-weight: 400;
  }

  #page3 > .end > .right {
    top: 3%;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    width: 90%;
  }

  #page3 > .end > .right > p {
    font-size: 10px;
  }

  #page3 > .end > .right > ul > a {
    font-size: 12px;
    font-weight: 400;
  }
}

#page-work {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-work > .top {
  height: 7vw;
  width: 83%;
  border-bottom: 2px solid rgba(175, 175, 175, 0.459);
  display: flex;
  align-items: end;
}

#page-work > .top > p {
  font-size: 13px;
  padding: 3vw;
  font-weight: 400;
  padding-left: 10vw;
  color: #7f7f7f;
}
