.navigation {
  width: 100%;
  position: static;
  z-index: 1000;
  padding: 30px 60px;
  animation: ease-in-bottom 0.5s forwards;
}

.nav-about {
  background-color: #1c1d20;
  color: #ffffff !important;
}

.nav-about .nav-link {
  color: #ffffff;
}
.nav-about .nav-link p {
  color: #ffffff;
}

.nav-about h1 {
  color: #ffffff !important;
}

.nav-about .nav-menu {
  color: #fff;
}

@keyframes ease-in-bottom {
  from {
    transform: translate(0%, 50%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-ended {
  animation: none;
}

.nav {
  display: flex;
  z-index: 2000;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  color: #000000;
  cursor: pointer;
}

.nav-item > .point:hover {
  transform: translate(0%, 10%);
}

.logo:active {
  scale: 0.98;
}

.logo > .nav-link > .logo-text {
  font-size: 18px;
  color: #282828;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
}

.logo > .nav-link > img {
  width: 23px;
  height: 23px;
  margin-right: 7px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.158);
  background: linear-gradient(
    90deg,
    rgb(237, 239, 240) 0%,
    rgb(196, 224, 232) 35%,
    rgba(232, 232, 232, 1) 100%
  );
}

.logo > .nav-link > .logo-text > p:hover {
  animation: logo-left 1s forwards;
}

@keyframes logo-left {
  from {
  }
  to {
    transform: translateX(-58%);
  }
}

.nav-item {
  display: flex;
  gap: 60px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.nav-menu {
  display: none;
}

.menu {
  position: fixed;
  z-index: 100;
  background-color: #1c1d20;
  width: 100%;
  top: 0;
  height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation: ease-in-right 0.5s linear; */
}

.menu > .socials {
  position: absolute;
  padding: 10px 30px;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu > .socials > p {
  font-size: 12px;
  font-weight: 600;
  color: #747373;
}
.menu > .socials > ul {
  display: flex;
  gap: 20px;
}
.menu > .socials > ul > a {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

.navigation-text {
  width: 90%;
  font-size: 0.7em;
  color: #ffffff;
  padding: 0 0 1em 1em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.478);
}

.nav-item-menu > .nav-link {
  font-size: 30px;
  color: #ffffff;
}
.menu-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 900px) {
  .menu {
    width: 40%;
    right: 0;
  }

  .menu > .socials {
    position: absolute;
    padding: 10px 30px;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .menu > .socials > p {
    font-size: 12px;
    font-weight: 600;
    color: #747373;
  }
  .menu > .socials > ul {
    display: flex;
    gap: 20px;
  }
  .menu > .socials > ul > a {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
  }

  .nav-item-menu {
    margin-top: 80px !important;
    display: flex;
  }

  .navigation-text {
    font-size: 22px;
  }
  .menu-close {
    font-size: 50px;
  }
}

@keyframes ease-in-right {
  from {
    transform: translate(50%, 0%);
  }
  to {
  }
}

@keyframes ease-out-right {
  from {
  }
  to {
    transform: translate(100%, 0%);
  }
}

.nav-item-menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media (max-width: 900px) {
  .navigation {
    padding: 15px 15px;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
  }

  .nav-menu {
    display: flex;
    cursor: pointer;
  }

  .nav-menu > img {
    width: 25px;
  }

  .logo {
    width: 100%;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-item {
    display: none;
  }
}

.point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point > h1 {
  color: #0d0d0d;
  font-size: 1.2em;
  animation: change 2s;
}

@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
