#home {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home > .mid-text {
  width: 69%;
  padding-top: 0.58em;
}

#home > .mid-text > h2 {
  font-size: 0.68em;
  font-weight: 400;
  animation: ease-in-bottom 0.5s linear;
}

@keyframes ease-in-bottom {
  from {
    transform: translate(0%, 50%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#home > .mid-menu {
  width: 70%;
  height: 0.8em;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home > .mid-menu > .left {
  display: flex;
  align-items: center;
  gap: 15px;
}
#home > .mid-menu > .left > button {
  padding: 1.6em 2.7em;
  font-size: 0.12em;
  font-weight: 100;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.467);
  cursor: pointer;
  animation: ease-in-bottom 0.5s linear;
}

#home > .mid-menu > .left > button:hover {
  scale: 1.1;
}

#home > .mid-menu > .left > button:active {
  scale: 1.05;
}

#home > .mid-menu > .right {
  display: flex;
  align-items: center;
  gap: 15px;
  animation: ease-in-bottom 0.5s linear;
}

#home > .mid-menu > .right > .circle {
  width: 0.57em;
  height: 0.57em;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.467);
  cursor: pointer;
}

#home > .mid-menu > .right > .list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#home > .mid-menu > .right > .circle:hover {
  scale: 1.2;
}

#home > .mid-menu > .right > .circle:active {
  scale: 1.1;
}

#home > .mid-menu > .right > .list-view > .line {
  width: 0.15em;
  height: 2px;
  margin: 1px 0;
  border-radius: 20px;
  background-color: black;
}

#home > .mid-menu > .right > .grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.18em;
  background-color: black;
}

#home > .mid-menu > .right > .grid-view > .box {
  width: 0.07em;
  height: 0.07em;
  border: 1px solid rgb(204, 204, 204);
}

@media (max-width: 900px) {
  #home > .mid-text {
    width: 90%;
    padding-top: 20%;
  }

  #home > .mid-text > h2 {
    font-size: 12vw;
    font-weight: 400;
  }

  #home > .mid-menu {
    width: 90%;
    height: 30vw;
    margin: 0.2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #home > .mid-menu > .left > button {
    padding: 7vw 8vw;
    font-size: 14px;
  }

  #home > .mid-menu > .right {
    display: none;
  }
}

#home > .projects {
  width: 70%;
}
#home > .projects > .item {
  height: 35vw;
  border-top: 1px solid rgba(186, 186, 186, 0.455);
  border-bottom: 1px solid rgba(186, 186, 186, 0.455);
}

#home > .projects > .project1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home > .projects > .project1 > .left-text {
  width: 95%;
  height: 90%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
}

#home > .projects > .project1 > .left-text > h5 {
  font-family: 'Grand Hotel', cursive;
  font-size: 3.6vw;
}

#home > .projects > .project1 > .left-text > .end {
  display: flex;
  justify-content: space-between;
}
#home > .projects > .project1 > .left-text > .end > .links {
  display: flex;
  align-items: end;
  padding-right: 20px;
  gap: 30px;
}
#home > .projects > .project1 > .left-text > .end > .links > a {
  color: rgb(103, 103, 103);
}
#home > .projects > .project1 > .left-text > .end > span {
  font-size: 1vw;
}
#home > .projects > .project1 > .left-text > .end > span > p {
  font-size: 1.2vw;
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(103, 103, 103);
}

#home > .projects > .project1 > .left-text > .end > span > ul {
  list-style: none;
}

#home > .projects > .project1 > .left-text > p {
  font-size: 1.8vw;
  color: rgb(68, 68, 68);
}

#home > .projects > .project1 > .left {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: end;
  justify-content: end;
}
#home > .projects > .project1 > .left > .img-p1 {
  position: absolute;
  height: 34vw;
  z-index: 10;
}

#home > .projects > .project1 > .left > .img-p2 {
  position: absolute;
  height: 30vw;
  z-index: 9;
  /* transform: translate(-30%, 0%) !important; */
}
#home > .projects > .project1 > .left > .img-p3 {
  position: absolute;
  height: 28vw;
  z-index: 8;
}

#home > .projects > .project1 > .left > .card {
  height: 36vh;
  width: 387px;
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
}
#home > .projects > .project1 > .left > .card1 {
  transform: translateY(20%);
  z-index: 5;
  background: linear-gradient(
    90deg,
    rgba(225, 113, 245, 0.388) 0%,
    rgba(234, 108, 108, 0.612) 35%,
    rgb(241, 241, 213) 54%,
    rgba(159, 221, 244, 0.652) 100%
  );
}

#home > .projects > .project1 > .left > .card2 {
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(225, 113, 245, 0.388) 0%,
    rgba(234, 108, 108, 0.612) 35%,
    rgb(241, 241, 213) 54%,
    rgba(159, 221, 244, 0.652) 100%
  );
}
#home > .projects > .project1 > .left > .card3 {
  z-index: 4;
  transform: translateY(-20%);
  background: linear-gradient(
    90deg,
    rgba(251, 243, 196, 1) 0%,
    rgba(235, 188, 208, 1) 35%,
    rgba(239, 241, 213, 1) 73%,
    rgba(244, 190, 110, 0.51) 100%
  );
}
#home > .projects > .project1 > .project2 {
  position: relative;
  height: 60vh;
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home > .projects > .project1 > .left > .card2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  backdrop-filter: blur(40px);
  opacity: 0.7;
  /* mix-blend-mode: multiply; */
}

@media (max-width: 900px) {
  #home > .projects {
    width: 95%;
  }

  #home > .projects > .item {
    height: 180vw;
  }

  #home > .projects > .project1 {
    display: flex;
    flex-direction: column-reverse;
  }

  #home > .projects > .project1 > .left-text {
    justify-content: space-around;
    padding-left: 0px;
  }
  #home > .projects > .project1 > .left-text > h5 {
    font-family: 'Grand Hotel', cursive;
    font-size: 9.2vw;
    padding: 25px 0;
  }

  #home > .projects > .project1 > .left-text > .end {
    display: flex;
    padding: 25px 0;
  }
  #home > .projects > .project1 > .left-text > .end > .links {
    display: flex;
    align-items: end;
    padding-right: 0px;
    gap: 30px;
  }
  #home > .projects > .project1 > .left-text > .end > span {
    font-size: 4vw;
  }
  #home > .projects > .project1 > .left-text > .end > span > p {
    font-size: 4.5vw;
    font-weight: 500;
  }
  #home > .projects > .project1 > .left-text > p {
    font-size: 4.8vw;
  }
  #home > .projects > .project1 > .left-text > .end > .links > a {
    font-size: 16px;
  }

  #home > .projects > .project1 > .left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home > .projects > .project1 > .left > .img-p1 {
    height: 76vw;
  }

  #home > .projects > .project1 > .left > .img-p2 {
    height: 68vw;
  }
  #home > .projects > .project1 > .left > .img-p3 {
    height: 62vw;
  }
}
