* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0f0f0f;
}

html,
body {
  font-family: SF PRO DISPLAY;
  background-color: rgb(255, 253, 253);
  color: #ffffff;
}
div {
  color: #808080;
  font-size: 9vw;
}

h1 {
  color: #d14848;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: bottom;
  z-index: 3000;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: top;
  z-index: 3000;
  text-align: center;
}
